<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <img src="images/car1.jpg" alt="">
    </div>
    <div>
        <img src="images/car2.jpg" alt="">
    </div>
    <div>
        <img src="images/car3.jpg" alt="">
    </div><br>
    <a href="/cars/new">Add A Car</a>
    <a href="/">Home</a>
</body>
</html>