<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Get a new car</h1>
    <form action="">
        <h4>Name: <input type="text"></h4>
        <h4>Type of car: <input type="text"></h4>
        <h4>Year: <input type="date"></h4>
        <h4>Password: <input type="password"></h4>
    </form>
    <a href="/">Home</a>
</body>
</html>